#root {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  max-width: 100%;
  padding: 0;
}

/* Aggiungi spazio sopra la hero section per evitare sovrapposizioni con la navbar */
.hero-section {
  padding-top: 4rem; /* 64px - regola in base all'altezza della tua navbar */
}

@media (min-width: 768px) {
  .hero-section {
    padding-top: 5rem; /* 80px per schermi più grandi */
  }
}
